body{
font-family: Verdana;
background:url('../imagen/naho3.jpeg');
background-repeat:repeat;

.enlacess{
background: yellow;
width:80%;
margin:20px 80px;
padding: 10px 20px;
border-radius: 40px;
}

.contenedor{
background: blue;
width: 80%;
margin: auto;
}

header{
height:300px;
background-image: url("../imagen/naho4.jpeg");
background-position: center;
background-size: cover;
}

main{
background: yellow;
padding: 20px 30px;
}